
.container{
    background-color: black;
    display: flex; 
    place-items: center; 
    justify-content: space-between;
}

h1{
    color:white;
    font-weight: 100px;
}

#icon{
    color: whitesmoke;
}

.button{
    color:black; 
    background-color: yellow;
}

body{
    margin: 0px;
    padding: 0px;
}