nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    
}
h1{
    color:white;
    font-weight: 120px;
    margin-top: 5px;

}
button{
    color:white;
    background-color: yellow;
}
i{
    
    margin-top: 10px;
}

a{
    color:aliceblue;
}
sub{
    padding:5px;
}
body{
    margin: 0px;
    padding: 0px;
}